@model IEnumerable<Patient_Info>
@{
    ViewData["Title"] = "Index";
}

<h1>Index Patient_Info</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Patient Name
            </th>
            <th>
                Knee ROM
            </th>
            <th>
                Knee Strength
            </th>
            <th>
                LB Ext Rom
            </th>
            <th>
                LB Flex Rom
            </th>
            <th>
                Pain Free Lift
            </th>
            <th>
                Date Updated
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="25%">
                    @obj.Name
                </td>
                <td width="10%">
                    @obj.KneeROM
                </td>
                <td width="10%">
                    @obj.KneeStrength
                </td>
                <td width="10%">
                    @obj.LowerbackExtROM
                </td>
                <td width="10%">
                    @obj.LowerBackFlexionROM
                </td>
                <td width="10%">
                    @obj.PainFreeWeightLifted
                </td>
                <td width="20%">
                    @obj.DateUpdated
                </td>
            </tr>
        }
    </tbody>
</table>

